table, td {
    border: 2px solid red;
    margin: 0px auto;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
}

body {
    background: azure;
}

input.butt {
        margin: 10px auto;
        width: 20%;
    }

    p.trick {
        text-align: center;
    }

 input[type="number"] {
        width: 90px;
    }